<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1 text-justify">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <div class="widget mt-4">
			<div class="widget-content">
				<div class="about-us">
					<div class="about-inner">
						<h1 class="mb-2 text-center">About Us</h1>
						<p>
							If you are willing to find your dream government job, allgovernmentjobs is probably the best website you can ever visit. Right from letting you find government jobs to providing a sleek and easy interface, we are simply the best.
						</p>                        
                        <br />

                        <p>
                            We deliver government jobs information in different sectors. Ranging from Finance, Engineering to Sports Quota, our website is the one stop destination to all your government job queries. With us, you can find your wishful jobs based on qualification metrics.
                        </p>
                        <br />
                        
                        <p>
                            Also, we deliver notifications for every single job post so that you don’t miss on any essential job posting. The notifications are delivered for every single job posts where you can visit the website and see your category jobs.
                        </p>
                        <br />

                        <p>
                            We perform deep analysis and bring to you top jobs by recruitment boards. Be it the AAI, AHC, AIMMS, Delhi or any other board; you can trust us to bring the best possible job information in lesser time.
                        </p>
                        <br />
                        <hr />
					</div>

					<div class="about-inner mt-3">
						<h2 class="mb-2 text-center">Our Mission</h2>

						<p>
							Bringing to you the top government jobs for your needs, we simply deliver the best in class knowledge and job opportunities. Being a caretaker for your dream job, we have done the hard work and research.
						</p>

                        <br />
                        <p>
                            All you need is to simply navigate through our site’s government jobs, apply filters and get your dream job, as soon as possible.
                        </p>

                        <br />
                        <p>
                            Everyone has a dream to work for a government organization and reap huge benefits for their present and future life. We are your saviors and will try our best to deliver quality government jobs for you, every single point of time.
                        </p>
                        <hr />
					</div>
                    
					<div class="about-inner mt-3">
						<h2 class="mb-2 text-center">Our Vision</h2>
						<p>
							We are on a mission to take quality education to every home in India. Currently, we are focussed on helping aspirants crack government job exams in India.
						</p>
                        <hr />
					</div>

                    <div class="about-inner mt-3">
						<h2 class="mb-2 text-center">How special we are in Providing Govt Jobs</h2>
						<ol>
                            <li>
                                <h4>In-time delivering the notifications</h4>
                                <p class="margin-top-10">
                                    We deliver the every notification as soon as the Org releases and gives you with all the details of how to apply and more.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Sending Mails and Alerts</h4>
                                <p class="margin-top-10">
                                    Gathering the information of the user and we send the email notification based on the preferences every day.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Guidance and Preparation</h4>
                                <p class="margin-top-10">
                                    Every notification has different proceed to apply. We provide the detailed information application process & preparation tips.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Finding you best govt job</h4>
                                <p class="margin-top-10">
                                    The user who subscribe to our services we provide the best govt jobs based on his Education, location and based interest.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Team Helps for better career</h4>
                                <p class="margin-top-10">
                                    Our Team reads the every user behaviour and provide the solution for each of them to analysis what exactly they need.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>App that provide seamless search</h4>
                                <p class="margin-top-10">
                                    We developed android app that helps you to find the notification even if you are in Offline & you can save every notification too.
                                </p>
                                <hr />
                                <br>
                            </li>

                        </ol>
					</div>
				</div>  
			</div>  
		</div>  
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>