<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1 text-justify">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <div class="widget mt-4">
			<div class="widget-content">
				<div class="about-us">
					<div class="about-inner">
						<h1 class="mb-2 text-center">About Us</h1>
						<p>
							If you are willing to find your dream government job, allgovernmentjobs is probably the best website you can ever visit. Right from letting you find government jobs to providing a sleek and easy interface, we are simply the best.
						</p>                        
                        <br />

                        <p>
                            We deliver government jobs information in different sectors. Ranging from Finance, Engineering to Sports Quota, our website is the one stop destination to all your government job queries. With us, you can find your wishful jobs based on qualification metrics.
                        </p>
                        <br />
                        
                        <p>
                            Also, we deliver notifications for every single job post so that you don’t miss on any essential job posting. The notifications are delivered for every single job posts where you can visit the website and see your category jobs.
                        </p>
                        <br />

                        <p>
                            We perform deep analysis and bring to you top jobs by recruitment boards. Be it the AAI, AHC, AIMMS, Delhi or any other board; you can trust us to bring the best possible job information in lesser time.
                        </p>
                        <br />
                        <hr />
					</div>

					<div class="about-inner mt-3">
						<h2 class="mb-2 text-center">Our Mission</h2>

						<p>
							Bringing to you the top government jobs for your needs, we simply deliver the best in class knowledge and job opportunities. Being a caretaker for your dream job, we have done the hard work and research.
						</p>

                        <br />
                        <p>
                            All you need is to simply navigate through our site’s government jobs, apply filters and get your dream job, as soon as possible.
                        </p>

                        <br />
                        <p>
                            Everyone has a dream to work for a government organization and reap huge benefits for their present and future life. We are your saviors and will try our best to deliver quality government jobs for you, every single point of time.
                        </p>
                        <hr />
					</div>
                    
					<div class="about-inner mt-3">
						<h3 class="mb-2 text-center">Our Vision</h3>
						<p>
							We are on a mission to take quality education to every home in India. Currently, we are focussed on helping aspirants crack government job exams in India.
						</p>
					</div>
				</div>  
			</div>  
		</div>  
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>