<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1 text-justify">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <div class="widget mt-4">
			<div class="widget-content">
				<div class="about-us">

                    <div class="card">
                        <div class="card-header bg-dark">
                            <h1 class="text-center">
                                <a href="/about-us" class="text-white">
                                    About Us - Jobsnplacements
                                </a>
                            </h1>
                        </div>
                        <div class="card-body">
                            <p>
                                If you are willing to find your dream government job, allgovernmentjobs is probably the best website you can ever visit. Right from letting you find government jobs to providing a sleek and easy interface, we are simply the best.
                            </p>                        
                            <br />
    
                            <p>
                                We deliver government jobs information in different sectors. Ranging from Finance, Engineering to Sports Quota, our website is the one stop destination to all your government job queries. With us, you can find your wishful jobs based on qualification metrics.
                            </p>
                            <br />
                            
                            <p>
                                Also, we deliver notifications for every single job post so that you don’t miss on any essential job posting. The notifications are delivered for every single job posts where you can visit the website and see your category jobs.
                            </p>
                            <br />
    
                            <p>
                                We perform deep analysis and bring to you top jobs by recruitment boards. Be it the AAI, AHC, AIMMS, Delhi or any other board; you can trust us to bring the best possible job information in lesser time.
                            </p>
                        </div>
                    </div>

					<div class="card margin-top-10">
                        <div class="card-header bg-dark text-white">
                            <h2 class="mb-2 text-center text-white">Our Mission</h2>
                        </div>
                        <div class="card-body">
                            Where Application has a different application process. While applying for any govt jobs you need to follow the official notification which is mentioned while releasing the notification in the official website. Here in our website we give you exact information in the below of the job description and also we mention the direct link to apply. Through using the link follow the guidelines and apply the Notification without missing any details, also make sure to check twice and save application continuously and submit your application
                        </div>
                    </div>

                    <div class="card margin-top-10">
                        <div class="card-header bg-dark">
                            <h2 class="mb-2 text-center text-white">Our Vision</h2>
                        </div>
                        <div class="card-body">
                            We are on a mission to take quality education to every home in India. Currently, we are focussed on helping aspirants crack government job exams in India.
                        </div>
                    </div>

                    <!-- <div class="about-inner mt-3">
						<h2 class="mb-2 text-center">How special we are in Providing Govt Jobs</h2>
						<ol>
                            <li>
                                <h4>In-time delivering the notifications</h4>
                                <p class="margin-top-10">
                                    We deliver the every notification as soon as the Org releases and gives you with all the details of how to apply and more.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Sending Mails and Alerts</h4>
                                <p class="margin-top-10">
                                    Gathering the information of the user and we send the email notification based on the preferences every day.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Guidance and Preparation</h4>
                                <p class="margin-top-10">
                                    Every notification has different proceed to apply. We provide the detailed information application process & preparation tips.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Finding you best govt job</h4>
                                <p class="margin-top-10">
                                    The user who subscribe to our services we provide the best govt jobs based on his Education, location and based interest.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>Team Helps for better career</h4>
                                <p class="margin-top-10">
                                    Our Team reads the every user behaviour and provide the solution for each of them to analysis what exactly they need.
                                </p>
                                <hr />
                                <br>
                            </li>

                            <li>
                                <h4>App that provide seamless search</h4>
                                <p class="margin-top-10">
                                    We developed android app that helps you to find the notification even if you are in Offline & you can save every notification too.
                                </p>
                                <hr />
                                <br>
                            </li>

                        </ol>
					</div> -->
                    
                    <div class="card margin-top-10">
                        <div class="card-header bg-dark text-white">
                            <h2 class="mb-2 text-center text-white">How special we are in Providing Govt Jobs</h2>
                        </div>
                        <div class="card-body">
                            <ol>
                                <li>
                                    <h4>In-time delivering the notifications</h4>
                                    <p class="margin-top-10">
                                        We deliver the every notification as soon as the Org releases and gives you with all the details of how to apply and more.
                                    </p>
                                    <hr />
                                    <br>
                                </li>
    
                                <li>
                                    <h4>Sending Mails and Alerts</h4>
                                    <p class="margin-top-10">
                                        Gathering the information of the user and we send the email notification based on the preferences every day.
                                    </p>
                                    <hr />
                                    <br>
                                </li>
    
                                <li>
                                    <h4>Guidance and Preparation</h4>
                                    <p class="margin-top-10">
                                        Every notification has different proceed to apply. We provide the detailed information application process & preparation tips.
                                    </p>
                                    <hr />
                                    <br>
                                </li>
    
                                <li>
                                    <h4>Finding you best govt job</h4>
                                    <p class="margin-top-10">
                                        The user who subscribe to our services we provide the best govt jobs based on his Education, location and based interest.
                                    </p>
                                    <hr />
                                    <br>
                                </li>
    
                                <li>
                                    <h4>Team Helps for better career</h4>
                                    <p class="margin-top-10">
                                        Our Team reads the every user behaviour and provide the solution for each of them to analysis what exactly they need.
                                    </p>
                                    <hr />
                                    <br>
                                </li>
    
                                <li>
                                    <h4>App that provide seamless search</h4>
                                    <p class="margin-top-10">
                                        We developed android app that helps you to find the notification even if you are in Offline & you can save every notification too.
                                    </p>
                                </li>
    
                            </ol>
                        </div>
                    </div>
                </div>  
			</div>  
		</div>  
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>