<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1 text-justify">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <div class="widget mt-4">
			<div class="widget-content">
				<div class="about-us">
					<div class="about-inner">
						<h1 class="mb-2 text-center">Frequently asked Questions(FAQ's)</h1>
					
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Q1 How to apply for government jobs in india ?
                            </div>
                            <div class="card-body">
                                Where Application has a different application process. While applying for any govt jobs you need to follow the official notification which is mentioned while releasing the notification in the official website. Here in our website we give you exact information in the below of the job description and also we mention the direct link to apply. Through using the link follow the guidelines and apply the Notification without missing any details, also make sure to check twice and save application continuously and submit your application
                            </div>
                        </div>

                        <div class="card margin-top-10">
                            <div class="card-header bg-dark text-white">
                                Q2 which is the best place to find the Govt jobs ?
                            </div>
                            <div class="card-body">
                                There are many govt jobs notifications are released every day, but the biggest task to find all jobs is too hard, You have to follow the official website, Newspapers, Media and all. Here we are solving the problem that many or facing it. We do provide every Notification including the Central, PSC, PSU and more. You can also subscribe to our service and we provide free alerts to your email, WhatsApp, Push notification and SMS as well. This is the only website allgovernmentjobs.in solving the problem to many aspirants who Looking for govt jobs.
                            </div>
                        </div>

                        <div class="card margin-top-10">
                            <div class="card-header bg-dark text-white">
                                Q3 how to prepare for government jobs ?
                            </div>
                            <div class="card-body">
                                Best way to prepare for government jobs by self reading books and taking coaching in an institute. As we have seen that many of the aspirants are preparing themselves through the internet by enrolling to the courses through sites or Online Coaching. One simple tip I can say you that, while you are preparing for any govt jobs, you must follow Time Management, Plan the syllabus, Know your strengths and weaknesses, and get support from the seniors. Dedicating in yourself is the only key for success.
                            </div>
                        </div>

                        <div class="card margin-top-10">
                            <div class="card-header bg-dark text-white">
                                Q4 which degree is best for government jobs ?
                            </div>
                            <div class="card-body">
                                For every different notification there are many different education qualifications. Particularly if you are looking for a high end, and Professional job at-least you must have a Under graduation in any course either be in engineering, medical, Law or whatever. You must have a good knowledge in every subject that helps you to crack the exam easily.
                            </div>
                        </div>

                    </div>

				</div>  
			</div>  
		</div>  
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>