<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

    <!-- Middle Content -->
    <div class="col-lg-6 order-lg-2 order-1">
        <div class="main-content">
            <%- include includes/main-search.ejs %>


            <div class="card bg-light">
                <div class="card-body text-center">

                    <h1>
                        <u>
                            Login
                        </u>
                    </h1>
                    <hr />

                    <!-- FACEBOOK LOGIN STARTS HERE -->
                    <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> -->

                    <div 
                        class="fb-login-button" 
                        data-width="" 
                        data-size="large" 
                        data-layout="rounded" 
                        data-auto-logout-link="true" 
                        data-scope="public_profile,email" 
                        data-default-audience="everyone" 
                        data-button-type="continue_with" 
                        data-use-continue-as="true">
                    </div>
        
                    <div id="status"></div><hr />
        
                    <!-- Load the JS SDK asynchronously -->
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
                    <script>

                        function statusChangeCallback( response ) {
                            // console.log('response', response);
                        }

                        function checkLoginState() {
                            FB.getLoginStatus(function(response) {
                                statusChangeCallback(response);
                            });
                        }
                    </script>
                    <!-- FACEBOOK LOGIN ENDS HERE -->

                    <!-- GOOGLE LOGIN STARTS HERE -->
                    <script src="https://apis.google.com/js/platform.js" async defer></script>

                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

                    <script>
                        function onSignIn(googleUser) {
                            var profile = googleUser.getBasicProfile();
                            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                            console.log('Name: ' + profile.getName());
                            console.log('Image URL: ' + profile.getImageUrl());
                            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                        }

                        function signOut() {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                            console.log('User signed out.');
                            });
                        }
                    </script>
                    <!-- GOOGLE LOGIN ENDS HERE -->

                </div>
            </div>



        </div>
    </div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>